@model IEnumerable<FileUpload.Models.FileRecords>

@{
    ViewBag.Title = "GetAll";
}

<h2>List of Prices</h2>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>