@model IEnumerable<FileUpload.Models.VwFileUpload>

@{
    ViewBag.Title = "ListExp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row form-group">
                        <div class="col-lg-3">
                            <label class="control-label">Date Start</label>
                            <input type="text" readonly="readonly" class="form-control" name="mydate" id="mydate">
                        </div>
                        <div class="col-lg-3">
                            <label class="control-label">Date End</label>
                            <input type="text" readonly="readonly" class="form-control" name="mydate2" id="mydate2">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary" id="list">List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="ibox float-e-margins divContentRel">
            <div class="ibox-title">
                <h5>List per Most Expensive Hours</h5>
            </div>
            <p>&nbsp;</p>
            <div class="ibox-content">
                <div class="row form-group">
                    <div class="col-lg-12 list-data">

                    </div>
                </div>
                <div class="form-group">
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script src="~/Scripts/app/ListExp.js"></script>

}
