@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .tab {
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
    }
</style>

<div class="jumbotron">
    <h1>File Uploader</h1>
    <p class="lead">Demonstrate your coding ability with this assignment to design and create a web application considered customer facing with regards to UI and performance.</p>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Instructions:</h2>

        Here, the user is the end customer.<br />
        <p>&nbsp;</p>
        <div>
            The web application should allow the user to upload/read price data from a given file (ExportFile.csv) and store it to the SQL server database.<br />
            The web application should allow the user to select a date range and perform the following operations:<br />
            Display a given date range (chosen by user) of price values in a suitable chart with,<br />
        </div>
        <div>
            &emsp;&emsp;• - The maximum price<br />
            &emsp;&emsp;• -	The minimum price<br />
            &emsp;&emsp;• -	The average price<br />
            &emsp;&emsp;• -	The most expensive hour (i.e. two consecutive half hour values, combining to make the most expensive hour)<br />
        </div>
        <div>
            Display all the data in a data grid and/or graph.<br />
            Date and Price are mandatory fields and should be validated with helpful messages.<br />
            A file of example data is provided called ‘ExportFile.csv’.<br />
        </div>
        <p>&nbsp;</p>
        <div>
            Preferred Technologies:<br />
        </div>
        <div>
            &emsp;&emsp;  •	MVC, C#<br />
            &emsp;&emsp;  • HTML5, CSS3, jQuery<br />
            &emsp;&emsp;  •	Entity Framework, LINQ<br />
            &emsp;&emsp;  •	SQL Server<br />
            &emsp;&emsp;  •	Demonstrate test driven project if possible<br />
        </div>
        <p>&nbsp;</p>
        <div>
            Optional:<br />
        </div>
        <div class="tab">
            &emsp;&emsp; •	Angular<br />
            &emsp;&emsp;  •	Sass (or Less)<br />
        </div>
        <p>&nbsp;</p>
        <div>
            Delivery:
        </div>
        <div>
            &emsp;&emsp; •	Send on the solution and DB files to us and any brief explanatory notes you feel an end user might need.
        </div>


    </div>

</div>
